In [1]:
import pandas as pd
# set to display all columns
pd.set_option('display.max_columns', None)
# set to print on one line
pd.set_option('display.width', 1000)

In [2]:
dataset="MPDocVQA"

# AccD - LLM

In [3]:
order_colums=['Phi4', 'Molmo', 'Ovis', 'Llama', 'Llava34', 'Gemma27', 'Qwen', 'QwenOllama', 'InternVL3', 'InternVL378', 'GPT-4.1', 'O3']

In [4]:
df_QUR= pd.read_csv(f'results_w1/results/QUR.csv', index_col=0)
# sort df_QUR based on this list: [Qwen, InternVL, Phi, Molmo, Ovis, DocOwl]
df_QUR=df_QUR[order_colums]
# take row QUR, keeping the dataframe of 1 row and N columns
df_QUR=df_QUR.loc[['QUR','QUR_C1','QUR_C2','QUR_C3']]
df_QUR

            Phi4     Molmo      Ovis     Llama   Llava34   Gemma27      Qwen  QwenOllama  InternVL3  InternVL378   GPT-4.1        O3
QUR     0.036946  0.339901  0.216749  0.325123  0.357143  0.394089  0.490148    0.581281   0.241379     0.219212  0.263547  0.162562
QUR_C1  0.044118  0.357843  0.220588  0.313725  0.308824  0.401961  0.500000    0.612745   0.254902     0.274510  0.294118  0.186275
QUR_C2  0.027972  0.328671  0.188811  0.321678  0.440559  0.419580  0.496503    0.538462   0.258741     0.174825  0.258741  0.167832
QUR_C3  0.033898  0.305085  0.271186  0.372881  0.322034  0.305085  0.440678    0.576271   0.152542     0.135593  0.169492  0.067797

In [8]:
df_QUR_to_latex = df_QUR.to_latex(f'table/{dataset}_AccD.tex',index=True, float_format="%.3f", escape=False)

In [5]:
df_DED = pd.read_csv('results_w1/results/QUR_DED.csv', index_col=0)
df_DED = df_DED[order_colums]
df_DED

           Phi4     Molmo      Ovis     Llama   Llava34   Gemma27      Qwen  QwenOllama  InternVL3  InternVL378   GPT-4.1        O3
<15    0.033149  0.353591  0.226519  0.331492  0.339779  0.392265  0.491713    0.571823   0.243094     0.212707  0.265193  0.165746
15-25  0.000000  0.117647  0.117647  0.176471  0.588235  0.470588  0.352941    0.647059   0.117647     0.176471  0.058824  0.117647
>25    0.111111  0.296296  0.148148  0.333333  0.444444  0.370370  0.555556    0.666667   0.296296     0.333333  0.370370  0.148148

In [6]:
# weights = {
# '<15': 0.6684491978609626,
# '>25': 0.22459893048128343,
# '15-25': 0.10695187165775401
# }
weights = {'<15': 1.0, '15-25': 0.16, '>25': 0.336}
index_list = list(weights.keys())
index_list

['<15', '15-25', '>25']

In [7]:
normalized_DED = pd.DataFrame(columns=order_colums)
for i, row in df_DED.iterrows():
    # print(i,row.values)
    normalized_row = row.values*weights[i]
    normalized_DED.loc[len(normalized_DED)] = normalized_row
normalized_DED.index = index_list
normalized_DED = normalized_DED.reindex(['<15', '15-25', '>25'])
normalized_DED

           Phi4     Molmo      Ovis     Llama   Llava34   Gemma27      Qwen  QwenOllama  InternVL3  InternVL378   GPT-4.1        O3
<15    0.033149  0.353591  0.226519  0.331492  0.339779  0.392265  0.491713    0.571823   0.243094     0.212707  0.265193  0.165746
15-25  0.000000  0.018824  0.018824  0.028235  0.094118  0.075294  0.056471    0.103529   0.018824     0.028235  0.009412  0.018824
>25    0.037333  0.099556  0.049778  0.112000  0.149333  0.124444  0.186667    0.224000   0.099556     0.112000  0.124444  0.049778

In [8]:
df_PL = pd.read_csv('results_w1/results/QUR_PL.csv', index_col=0)
df_PL = df_PL.sort_index(ascending=True)
df_PL = df_PL[order_colums]
df_PL

        Phi4     Molmo      Ovis     Llama   Llava34   Gemma27      Qwen  QwenOllama  InternVL3  InternVL378   GPT-4.1        O3
1   0.119048  0.285714  0.309524  0.380952  0.714286  0.452381  0.500000    0.714286   0.190476     0.214286  0.238095  0.166667
2   0.000000  0.283784  0.148649  0.270270  0.500000  0.472973  0.500000    0.567568   0.202703     0.256757  0.202703  0.175676
3   0.050000  0.350000  0.175000  0.375000  0.450000  0.550000  0.525000    0.550000   0.300000     0.300000  0.125000  0.125000
4   0.000000  0.263158  0.236842  0.236842  0.605263  0.578947  0.473684    0.789474   0.315789     0.157895  0.368421  0.236842
5   0.000000  0.257143  0.342857  0.342857  0.171429  0.285714  0.485714    0.571429   0.257143     0.228571  0.200000  0.171429
6   0.057143  0.428571  0.400000  0.428571  0.371429  0.485714  0.542857    0.657143   0.285714     0.200000  0.428571  0.114286
7   0.000000  0.333333  0.250000  0.416667  0.083333  0.583333  0.666667    0.666667   0.250000     0.250000  0.583333  0.416667
8   0.117647  0.470588  0.470588  0.411765  0.235294  0.529412  0.470588    0.529412   0.411765     0.411765  0.352941  0.294118
9   0.000000  0.294118  0.058824  0.352941  0.235294  0.294118  0.470588    0.470588   0.176471     0.235294  0.117647  0.000000
10  0.272727  0.454545  0.272727  0.363636  0.363636  0.272727  0.636364    0.454545   0.454545     0.454545  0.363636  0.272727
11  0.000000  0.800000  0.400000  0.400000  0.200000  1.000000  1.000000    1.000000   1.000000     0.600000  0.800000  0.000000
13  0.055556  0.222222  0.000000  0.444444  0.000000  0.111111  0.500000    0.444444   0.055556     0.111111  0.055556  0.055556
14  0.000000  0.250000  0.000000  0.000000  0.250000  0.000000  0.000000    0.000000   0.000000     0.000000  0.000000  0.000000
15  0.000000  0.000000  0.000000  0.000000  0.000000  0.200000  0.000000    0.800000   0.000000     0.000000  0.000000  0.000000
17  0.000000  0.416667  0.027778  0.083333  0.083333  0.083333  0.250000    0.277778   0.055556     0.083333  0.194444  0.027778
20  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000    0.500000   0.000000     0.000000  0.000000  0.000000
21  0.000000  0.700000  0.400000  0.600000  0.000000  0.000000  0.800000    0.800000   0.600000     0.000000  0.800000  0.400000
40  0.000000  0.800000  0.000000  0.800000  0.000000  0.000000  0.800000    0.600000   0.000000     0.200000  0.400000  0.600000

In [9]:
# remove rows linked to index values 4,5,11,12
df_PL = df_PL.drop(index=[5,6,17,20])
df_PL

        Phi4     Molmo      Ovis     Llama   Llava34   Gemma27      Qwen  QwenOllama  InternVL3  InternVL378   GPT-4.1        O3
1   0.119048  0.285714  0.309524  0.380952  0.714286  0.452381  0.500000    0.714286   0.190476     0.214286  0.238095  0.166667
2   0.000000  0.283784  0.148649  0.270270  0.500000  0.472973  0.500000    0.567568   0.202703     0.256757  0.202703  0.175676
3   0.050000  0.350000  0.175000  0.375000  0.450000  0.550000  0.525000    0.550000   0.300000     0.300000  0.125000  0.125000
4   0.000000  0.263158  0.236842  0.236842  0.605263  0.578947  0.473684    0.789474   0.315789     0.157895  0.368421  0.236842
7   0.000000  0.333333  0.250000  0.416667  0.083333  0.583333  0.666667    0.666667   0.250000     0.250000  0.583333  0.416667
8   0.117647  0.470588  0.470588  0.411765  0.235294  0.529412  0.470588    0.529412   0.411765     0.411765  0.352941  0.294118
9   0.000000  0.294118  0.058824  0.352941  0.235294  0.294118  0.470588    0.470588   0.176471     0.235294  0.117647  0.000000
10  0.272727  0.454545  0.272727  0.363636  0.363636  0.272727  0.636364    0.454545   0.454545     0.454545  0.363636  0.272727
11  0.000000  0.800000  0.400000  0.400000  0.200000  1.000000  1.000000    1.000000   1.000000     0.600000  0.800000  0.000000
13  0.055556  0.222222  0.000000  0.444444  0.000000  0.111111  0.500000    0.444444   0.055556     0.111111  0.055556  0.055556
14  0.000000  0.250000  0.000000  0.000000  0.250000  0.000000  0.000000    0.000000   0.000000     0.000000  0.000000  0.000000
15  0.000000  0.000000  0.000000  0.000000  0.000000  0.200000  0.000000    0.800000   0.000000     0.000000  0.000000  0.000000
21  0.000000  0.700000  0.400000  0.600000  0.000000  0.000000  0.800000    0.800000   0.600000     0.000000  0.800000  0.400000
40  0.000000  0.800000  0.000000  0.800000  0.000000  0.000000  0.800000    0.600000   0.000000     0.200000  0.400000  0.600000

In [10]:
df_PL['index'] = pd.cut(df_PL.index, bins=[0, 4, 8, 100], labels=['<4pg', '4pg-8pg', '>8pg'])
df_PL = df_PL.groupby('index').mean()
index_list = ['<4pg', '4pg-8pg', '>8pg']
df_PL

/tmp/ipykernel_72593/729160994.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df_PL = df_PL.groupby('index').mean()

             Phi4     Molmo      Ovis     Llama   Llava34   Gemma27      Qwen  QwenOllama  InternVL3  InternVL378   GPT-4.1        O3
index
<4pg     0.042262  0.295664  0.217504  0.315766  0.567387  0.513575  0.499671    0.655332   0.252242     0.232234  0.233555  0.176046
4pg-8pg  0.058824  0.401961  0.360294  0.414216  0.159314  0.556373  0.568627    0.598039   0.330882     0.330882  0.468137  0.355392
>8pg     0.041035  0.440111  0.141444  0.370128  0.131116  0.234745  0.525869    0.571197   0.285821     0.200119  0.317105  0.166035

In [11]:
df_NLPE = pd.read_csv('results_w1/results/QUR_NLPE.csv', index_col=0)
df_NLPE = df_NLPE[order_colums]
df_NLPE

               Phi4     Molmo      Ovis     Llama   Llava34   Gemma27      Qwen  QwenOllama  InternVL3  InternVL378   GPT-4.1        O3
NUMERIC    0.006803  0.340136  0.163265  0.340136  0.312925  0.299320  0.442177    0.564626   0.142857     0.197279  0.197279  0.115646
TEMPORAL   0.148936  0.510638  0.276596  0.553191  0.340426  0.382979  0.638298    0.659574   0.361702     0.255319  0.468085  0.297872
ENTITY     0.019417  0.255663  0.207120  0.297735  0.368932  0.343042  0.420712    0.514563   0.184466     0.145631  0.200647  0.116505
LOCATION   0.038462  0.453846  0.307692  0.346154  0.430769  0.607692  0.684615    0.692308   0.400000     0.300000  0.338462  0.215385
STRUCTURE  0.117647  0.264706  0.176471  0.264706  0.411765  0.264706  0.235294    0.529412   0.176471     0.147059  0.205882  0.088235

In [12]:
# create df_total where yoystack df_QUR["QUR"], df_DED, df_PL, df_NLPE
df_total = pd.concat([df_QUR, normalized_DED, df_PL, df_NLPE], axis=0)
df_total

               Phi4     Molmo      Ovis     Llama   Llava34   Gemma27      Qwen  QwenOllama  InternVL3  InternVL378   GPT-4.1        O3
QUR        0.036946  0.339901  0.216749  0.325123  0.357143  0.394089  0.490148    0.581281   0.241379     0.219212  0.263547  0.162562
QUR_C1     0.044118  0.357843  0.220588  0.313725  0.308824  0.401961  0.500000    0.612745   0.254902     0.274510  0.294118  0.186275
QUR_C2     0.027972  0.328671  0.188811  0.321678  0.440559  0.419580  0.496503    0.538462   0.258741     0.174825  0.258741  0.167832
QUR_C3     0.033898  0.305085  0.271186  0.372881  0.322034  0.305085  0.440678    0.576271   0.152542     0.135593  0.169492  0.067797
<15        0.033149  0.353591  0.226519  0.331492  0.339779  0.392265  0.491713    0.571823   0.243094     0.212707  0.265193  0.165746
15-25      0.000000  0.018824  0.018824  0.028235  0.094118  0.075294  0.056471    0.103529   0.018824     0.028235  0.009412  0.018824
>25        0.037333  0.099556  0.049778  0.112000  0.149333  0.124444  0.186667    0.224000   0.099556     0.112000  0.124444  0.049778
<4pg       0.042262  0.295664  0.217504  0.315766  0.567387  0.513575  0.499671    0.655332   0.252242     0.232234  0.233555  0.176046
4pg-8pg    0.058824  0.401961  0.360294  0.414216  0.159314  0.556373  0.568627    0.598039   0.330882     0.330882  0.468137  0.355392
>8pg       0.041035  0.440111  0.141444  0.370128  0.131116  0.234745  0.525869    0.571197   0.285821     0.200119  0.317105  0.166035
NUMERIC    0.006803  0.340136  0.163265  0.340136  0.312925  0.299320  0.442177    0.564626   0.142857     0.197279  0.197279  0.115646
TEMPORAL   0.148936  0.510638  0.276596  0.553191  0.340426  0.382979  0.638298    0.659574   0.361702     0.255319  0.468085  0.297872
ENTITY     0.019417  0.255663  0.207120  0.297735  0.368932  0.343042  0.420712    0.514563   0.184466     0.145631  0.200647  0.116505
LOCATION   0.038462  0.453846  0.307692  0.346154  0.430769  0.607692  0.684615    0.692308   0.400000     0.300000  0.338462  0.215385
STRUCTURE  0.117647  0.264706  0.176471  0.264706  0.411765  0.264706  0.235294    0.529412   0.176471     0.147059  0.205882  0.088235

In [13]:
# save to latex
df_total.to_latex(f'table/{dataset}_QUR.tex', index=True, float_format="%.3f", escape=False)

# AccP - LLM

In [14]:
order_colums=['Phi4', 'Molmo', 'Ovis', 'Llama', 'Llava34', 'Gemma27', 'Qwen', 'QwenOllama', 'InternVL3', 'InternVL378', 'GPT-4.1', 'O3']

In [15]:
df_QUR= pd.read_csv(f'results_w1/results/UR.csv', index_col=0)
# sort df_QUR based on this list: [Qwen, InternVL, Phi, Molmo, Ovis, DocOwl]
df_QUR=df_QUR[order_colums]
# take row QUR, keeping the dataframe of 1 row and N columns
df_QUR=df_QUR.loc[['UR', 'UR_C1','UR_C2','UR_C3']]
df_QUR

           Phi4     Molmo      Ovis     Llama   Llava34   Gemma27      Qwen  QwenOllama  InternVL3  InternVL378   GPT-4.1        O3
UR     0.211238  0.780228  0.791607  0.795875  0.707681  0.837838  0.881223    0.841520   0.782361     0.818279  0.774538  0.737909
UR_C1  0.224874  0.830402  0.814698  0.844849  0.707286  0.852387  0.901382    0.855200   0.829146     0.849246  0.826633  0.780151
UR_C2  0.188249  0.699041  0.739808  0.724221  0.729017  0.823741  0.850120    0.791391   0.725420     0.756595  0.690647  0.669065
UR_C3  0.204663  0.748705  0.808290  0.748705  0.663212  0.808290  0.865285    0.884868   0.712435     0.823834  0.740933  0.712435

In [16]:
df_QUR.to_latex(f'table/{dataset}_AccP.tex',index=True, float_format="%.3f", escape=False)

In [17]:
df_DED = pd.read_csv('results_w1/results/UR_PAGE_DED.csv', index_col=0)
df_DED = df_DED[order_colums]
df_DED

        Phi4     Molmo      Ovis     Llama   Llava34   Gemma27      Qwen  QwenOllama  InternVL3  InternVL378   GPT-4.1        O3
0   0.231259  0.760962  0.838755  0.771570  0.725601  0.869165  0.881188     0.85110   0.807638     0.863508  0.792786  0.760962
1   0.203229  0.793922  0.769231  0.823362  0.699905  0.807217  0.888889     0.85752   0.775878     0.784425  0.757835  0.714150
>1  0.153623  0.817391  0.666667  0.811594  0.657971  0.802899  0.857971     0.83165   0.698551     0.736232  0.750725  0.715942

In [18]:
df_IP = pd.read_csv('results_w1/results/UR_PAGE_inpage.csv', index_col=0)
df_IP = df_IP.sort_index(ascending=True)
df_IP = df_IP[order_colums]
df_IP = df_IP.loc[['UR_inpage']]
df_IP

               Phi4     Molmo      Ovis     Llama   Llava34   Gemma27      Qwen  QwenOllama  InternVL3  InternVL378   GPT-4.1        O3
UR_inpage  0.183588  0.620306  0.638387  0.638387  0.705146  0.757997  0.799722     0.79185   0.609179      0.66064  0.577191  0.563282

In [19]:
df_OP = pd.read_csv('results_w1/results/UR_PAGE_outpage.csv', index_col=0)
df_OP = df_OP.sort_index(ascending=True)
df_OP = df_OP[order_colums]
df_OP = df_OP.loc[['UR_outpage']]
df_OP

                Phi4     Molmo      Ovis     Llama   Llava34   Gemma27      Qwen  QwenOllama  InternVL3  InternVL378   GPT-4.1        O3
UR_outpage  0.220736  0.835165  0.844243  0.849976  0.708552  0.865265  0.909221      0.8776   0.841854     0.872432  0.842332  0.797898

In [20]:
df_NLPE = pd.read_csv('results_w1/results/UR_NLPE.csv', index_col=0)
df_NLPE = df_NLPE[order_colums]
df_NLPE

               Phi4     Molmo      Ovis     Llama   Llava34   Gemma27      Qwen  QwenOllama  InternVL3  InternVL378   GPT-4.1        O3
NUMERIC    0.258252  0.820388  0.799029  0.829126  0.714563  0.835922  0.890291    0.841646   0.766019     0.809709  0.766019  0.772816
TEMPORAL   0.276224  0.944056  0.896853  0.949301  0.774476  0.849650  0.970280    0.949900   0.909091     0.898601  0.937063  0.923077
ENTITY     0.160920  0.667666  0.775612  0.702149  0.656672  0.829085  0.828586    0.812954   0.701649     0.792104  0.713143  0.674663
LOCATION   0.181524  0.808752  0.703404  0.752026  0.748784  0.824959  0.904376    0.819048   0.797407     0.774716  0.682334  0.602917
STRUCTURE  0.257576  0.681818  0.732323  0.777778  0.782828  0.767677  0.843434    0.801471   0.757576     0.792929  0.772727  0.691919

In [21]:
# create df_total where yoystack df_QUR["QUR"], df_DED, df_PL, df_NLPE
df_total = pd.concat([df_QUR, df_DED, df_IP, df_OP, df_NLPE], axis=0)
df_total

                Phi4     Molmo      Ovis     Llama   Llava34   Gemma27      Qwen  QwenOllama  InternVL3  InternVL378   GPT-4.1        O3
UR          0.211238  0.780228  0.791607  0.795875  0.707681  0.837838  0.881223    0.841520   0.782361     0.818279  0.774538  0.737909
UR_C1       0.224874  0.830402  0.814698  0.844849  0.707286  0.852387  0.901382    0.855200   0.829146     0.849246  0.826633  0.780151
UR_C2       0.188249  0.699041  0.739808  0.724221  0.729017  0.823741  0.850120    0.791391   0.725420     0.756595  0.690647  0.669065
UR_C3       0.204663  0.748705  0.808290  0.748705  0.663212  0.808290  0.865285    0.884868   0.712435     0.823834  0.740933  0.712435
0           0.231259  0.760962  0.838755  0.771570  0.725601  0.869165  0.881188    0.851100   0.807638     0.863508  0.792786  0.760962
1           0.203229  0.793922  0.769231  0.823362  0.699905  0.807217  0.888889    0.857520   0.775878     0.784425  0.757835  0.714150
>1          0.153623  0.817391  0.666667  0.811594  0.657971  0.802899  0.857971    0.831650   0.698551     0.736232  0.750725  0.715942
UR_inpage   0.183588  0.620306  0.638387  0.638387  0.705146  0.757997  0.799722    0.791850   0.609179     0.660640  0.577191  0.563282
UR_outpage  0.220736  0.835165  0.844243  0.849976  0.708552  0.865265  0.909221    0.877600   0.841854     0.872432  0.842332  0.797898
NUMERIC     0.258252  0.820388  0.799029  0.829126  0.714563  0.835922  0.890291    0.841646   0.766019     0.809709  0.766019  0.772816
TEMPORAL    0.276224  0.944056  0.896853  0.949301  0.774476  0.849650  0.970280    0.949900   0.909091     0.898601  0.937063  0.923077
ENTITY      0.160920  0.667666  0.775612  0.702149  0.656672  0.829085  0.828586    0.812954   0.701649     0.792104  0.713143  0.674663
LOCATION    0.181524  0.808752  0.703404  0.752026  0.748784  0.824959  0.904376    0.819048   0.797407     0.774716  0.682334  0.602917
STRUCTURE   0.257576  0.681818  0.732323  0.777778  0.782828  0.767677  0.843434    0.801471   0.757576     0.792929  0.772727  0.691919

In [22]:
# delete rows with index values UR_C1, UR_C2, UR_C3
df_total = df_total.drop(index=['UR_C1', 'UR_C2', 'UR_C3'])
df_total

                Phi4     Molmo      Ovis     Llama   Llava34   Gemma27      Qwen  QwenOllama  InternVL3  InternVL378   GPT-4.1        O3
UR          0.211238  0.780228  0.791607  0.795875  0.707681  0.837838  0.881223    0.841520   0.782361     0.818279  0.774538  0.737909
0           0.231259  0.760962  0.838755  0.771570  0.725601  0.869165  0.881188    0.851100   0.807638     0.863508  0.792786  0.760962
1           0.203229  0.793922  0.769231  0.823362  0.699905  0.807217  0.888889    0.857520   0.775878     0.784425  0.757835  0.714150
>1          0.153623  0.817391  0.666667  0.811594  0.657971  0.802899  0.857971    0.831650   0.698551     0.736232  0.750725  0.715942
UR_inpage   0.183588  0.620306  0.638387  0.638387  0.705146  0.757997  0.799722    0.791850   0.609179     0.660640  0.577191  0.563282
UR_outpage  0.220736  0.835165  0.844243  0.849976  0.708552  0.865265  0.909221    0.877600   0.841854     0.872432  0.842332  0.797898
NUMERIC     0.258252  0.820388  0.799029  0.829126  0.714563  0.835922  0.890291    0.841646   0.766019     0.809709  0.766019  0.772816
TEMPORAL    0.276224  0.944056  0.896853  0.949301  0.774476  0.849650  0.970280    0.949900   0.909091     0.898601  0.937063  0.923077
ENTITY      0.160920  0.667666  0.775612  0.702149  0.656672  0.829085  0.828586    0.812954   0.701649     0.792104  0.713143  0.674663
LOCATION    0.181524  0.808752  0.703404  0.752026  0.748784  0.824959  0.904376    0.819048   0.797407     0.774716  0.682334  0.602917
STRUCTURE   0.257576  0.681818  0.732323  0.777778  0.782828  0.767677  0.843434    0.801471   0.757576     0.792929  0.772727  0.691919

In [23]:
# save to latex
df_total.to_latex(f'table/{dataset}_UR.tex', index=True, float_format="%.3f", escape=False)

# INPAGE - LLM

In [ ]:
order_colums=['Phi4', 'Molmo', 'Ovis', 'Llama', 'Llava34', 'Gemma27', 'Qwen', 'QwenOllama', 'InternVL3', 'InternVL378', 'GPT-4.1', 'O3']

In [15]:
df_QP = pd.read_csv('results_w1/results/UR_PAGE_QP.csv', index_col=0)
df_QP = df_QP[order_colums]
df_QP

                  Phi4     Molmo      Ovis     Llama   Llava34   Gemma27      Qwen  QwenOllama  InternVL3  InternVL378   GPT-4.1        O3
TOP_LEFT      0.105036  0.499281  0.506475  0.490647  0.686331  0.663309  0.676259    0.669655   0.410072     0.388489  0.469065  0.415827
TOP_RIGHT     0.297071  0.669456  0.698745  0.719665  0.665272  0.803347  0.845188    0.833773   0.627615     0.627615  0.631799  0.573222
BOTTOM_LEFT   0.246377  0.652174  0.695652  0.672464  0.701449  0.736232  0.811594    0.849026   0.660870     0.689855  0.559420  0.614493
BOTTOM_RIGHT  0.231092  0.789916  0.705882  0.802521  0.714286  0.823529  0.899160    0.844186   0.743697     0.831933  0.689076  0.663866

In [16]:
df_QP.to_latex(f'table/{dataset}_AccP_QP.tex',index=True, float_format="%.3f", escape=False)

In [17]:
df_DED = pd.read_csv('results_w1/results/UR_PAGE_DE.csv', index_col=0)
df_DED = df_DED[order_colums]
df_DED = df_DED.loc[['title', 'plain text', 'figure', 'table', 'abandon']]
df_DED

                Phi4     Molmo      Ovis     Llama   Llava34   Gemma27      Qwen  QwenOllama  InternVL3  InternVL378   GPT-4.1        O3
title       0.055556  0.444444  0.388889  0.388889  0.666667  0.583333  0.527778    0.681818   0.333333     0.361111  0.361111  0.305556
plain text  0.208251  0.624754  0.709234  0.646365  0.721022  0.799607  0.823183    0.828221   0.654224     0.722986  0.612967  0.609037
figure      0.176471  0.576471  0.352941  0.647059  0.694118  0.623529  0.800000    0.658333   0.600000     0.611765  0.447059  0.388235
table       0.059829  0.641026  0.529915  0.581197  0.606838  0.675214  0.735043    0.719298   0.350427     0.324786  0.487179  0.461538
abandon     0.433333  0.766667  0.700000  0.800000  0.766667  0.833333  0.800000    0.833333   0.666667     0.866667  0.733333  0.600000

In [18]:
df_DED.to_latex(f'table/{dataset}_AccP_DED.tex',index=True, float_format="%.3f", escape=False)